/* #home {
  margin-top: 400px;
  margin-bottom: 600px;
} */
#foto{
    width: 35%;
}
.image-slideshow {
  width: 100%;
  position: relative;
  margin: auto;
}
.fade {
  animation-name: fade;
  animation-duration: 2s;
}
@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
