header h1 {
  font-weight: bold;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f8f8f8;
  z-index: 999;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  padding: 16px;
  text-decoration: none;
  color: #333;
}
nav li a:hover {
  color: #fff;
}
.container.content {
  margin-top: 80px;
}

body {
  font-family: Arial, sans-serif;
  padding-bottom: 60px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.content {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#dropdown.dark {
  background-color: #ffffff;
  color: #000000;
}


body.dark {
  background-color: #000;
  color: #fff;
}
body.light {
  background-color: #fff;
  color: #000;
}
.mode-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
}

nav {
  background-color: #f4f4f4;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  margin-left: 10px;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav ul li :hover {
  background-color: #ffffff;
  color: #000000;
}

.down {
  background-color: white;
  color: black;
}

.toggle,
[id^="drop"] {
  display: none;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 60px;
}

nav ul li:hover > ul {
  display: inherit;
}

nav ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
}

nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 170px;
}
