<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <link rel="icon" href="/assets/Logo/tokeko.png" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/product.css" />
    <link rel="stylesheet" href="/fontawesome-free-6.4.0-web/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/profil.css" />
  </head>
  <body>
    <!-- Tampilan Navbar -->
    <nav>
      <div class="container" style="background-color: rgba(0, 0, 0, 0.5); border-radius: 50px; margin-top: 5px">
        <div>
          <img src="/assets/Logo/tokeko.png" alt="logo" class="logo" />
          <div class="menu">
            <ul style="scroll-behavior: smooth">
              <li><a href="/dasboard#home">Home</a></li>
              <li><a href="/product">Product</a></li>
              <li><a href="/profile">Profil</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="menu-btn">
          <i class="fas fa-bars"></i>
        </div>
      </div>
    </nav>

    <!-- Daftar Contact -->
    <div id="daftar-profil">
      <div class="profil">
        <img src="/assets/Andhika Rizky Cahya Putra.jpg" alt="Andhika Rizky Cahya Putra" class="foto-profil" />
        <h1 class="nama">Andhika Rizky Cahya Putra - 2226250071</h1>
        <p class="deskripsi">Back End Web Developer</p>
        <ul class="sosial-media">
          <li class="facebook">
            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li class="instagram">
            <a href="https://www.instagram.com/andhika_rizky.19/" target="_blank"><i class="fab fa-instagram"></i></a>
          </li>
          <li class="linkedin">
            <a href="https://www.linkedin.com/in/andhika-rizky-cahya-putra/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          </li>
        </ul>
      </div>

      <div class="profil">
        <img src="/assets/William Tanuwijaya.JPG" alt="William Tanuwijaya" class="foto-profil" />
        <h1 class="nama">William Tanuwijaya - 2226250012</h1>
        <p class="deskripsi">Full Stack Web Developer</p>
        <ul class="sosial-media">
          <li class="facebook">
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li class="instagram">
            <a href="https://www.instagram.com/liam.wijaya_99/" target="_blank"><i class="fab fa-instagram"></i></a>
          </li>
          <li class="linkedin">
            <a href="https://www.linkedin.com/in/william-tanuwijaya-6825a2246/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          </li>
        </ul>
      </div>

      <div class="profil">
        <img src="/assets/Kristian Fernando.jpg" alt="Kristian Fernando" class="foto-profil" />
        <h1 class="nama">Kristian Fernando - 2226250070</h1>
        <p class="deskripsi">Front End Web Developer and UI/UX Designer</p>
        <ul class="sosial-media">
          <li class="facebook">
            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li class="instagram">
            <a href="https://www.instagram.com/kristfer__/" target="_blank"><i class="fab fa-instagram"></i></a>
          </li>
          <li class="linkedin">
            <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- FOOTER -->
    <div class="footer2">
      <footer>&copy; TOKEKO - 2023. Enjoy with your shoes :)</footer>
    </div>
  </body>
</html>
