<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>produk</title>
    <link rel="icon" href="/assets/Logo/tokeko.png" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/product.css" />
    <link rel="stylesheet" href="/css/jumlahbarang.css" />
    <link rel="stylesheet" href="/fontawesome-free-6.4.0-web/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
    <script src="/bootstrap-5.3.0-dist/bootstrap-5.3.0-dist/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <style>
      .my-div {
        opacity: 1;
        animation: fadeOut 5s forwards;
      }

      @keyframes fadeOut {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
        }
      }

      body {
        background-image: url(/assets/Logo/wallpaperProduk.jpg);
        background-repeat: repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
      }
    </style>
  </head>
  <body>
    <!-- Tampilan Navbar -->
    <nav>
      <div class="container" style="background-color: rgba(0, 0, 0, 0.5); border-radius: 50px; margin-top: 5px">
        <div>
          <img src="/assets/Logo/tokeko.png" alt="logo" class="logo" />
          <div class="menu">
            <ul style="scroll-behavior: smooth">
              <li><a href="/dasboard#home">Home</a></li>
              <li><a href="/produk">Product</a></li>
              <li><a href="/profile">Profil</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
            <form>
              <div style="background-color: rgba(215, 207, 207, 0.5); width: 50px; height: 50px; border-radius: 50%">
                <i class="fas fa-cart-plus" style="width: 10px; height: 10px; margin-top: 15px; margin-left: 13px"></i>
                <div class="notification" style="margin-right: 45px">
                  <!-- JUMLAH BARANG DI KERANJANG JIKA DIKLIK TAMBAHKAN KERANJANG -->
                  <p id="jumlahbarang">0</p>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="menu-btn">
          <i class="fas fa-bars"></i>
        </div>
      </div>
    </nav>

    <!-- Product -->
    <div id="Product">
      <br />
      <h2 class="text-center" style="color: white; margin: 20px 0px 0px 0px">Our Product</h2>
      <br />
      <div>
        <div class="card-container" id="containers">
          <!-- Barang di tambahkan di Javascript DOM, Jika ingin menambah barang, tambahkan dari prodcut.js -->
        </div>
      </div>
      <div class="transaction-container" id="transaksi" style="color: white">
        <h2>Transaksi</h2>
        <p>jumlah total sudah termasuk pajak 10%</p>
        <div id="transaction-items" class="text-center"></div>
        <div id="pajak" class="pajak">Pajak : Rp.0</div>
        <div id="transaction-total" class="transaction-total">Total : Rp.0</div>
        <br />
      </div>
      <!-- JAVASCRIPT UNTUK MEMBUAT CARD PRODUCT DAN MELAKUKAN KALKULASI PERHITUNGAN -->
      <script src="/js/product.js"></script>
    </div>
    <div class="modal fade" id="staticBackdrop" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-body d-flex align-items-center justify-content-center">
          <div class="alert alert-success my-div fade show text-center" role="alert" id="my-div" style="width: 20%">Berhasil !!!!</div>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        // Menghapus class "show" setelah 3 detik
        setTimeout(function () {
          $('.my-div').removeClass('show');
        }, 3000);
      });
    </script>

    <!-- Footer -->
    <div class="footer2">
      <footer>&copy; TOKEKO - 2023. Enjoy with your shoes :)</footer>
    </div>
  </body>
</html>
